@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Project is an online web appliaction which created for <a href="https://www.groupfour.com.au/">Group Four</a> company by using ASP.net MVC.</p>
<p>For further information please @Html.ActionLink("contact the author.", "Contact", "Home") </p>

