@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div>
    Name: ZY Wang    
</div>

<address>
    Address: Jane Bell Lane <br />
    Melbourne Central, VIC, 3000<br />
    <abbr title="Phone">P:</abbr>
    0425070429
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:huwang6680@gmail.com">huwang6680@gmail.com</a><br />
</address>